<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-152-170142.png">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-144-170142.png">

<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-120-170142.png">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-114-170142.png">

<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-72-170142.png">

<link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-57-170142.png">

<link rel="icon" href="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-32-170142.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/logo.ico/eco-green-leaf-icon-144-170142.png">

<!-- end custom head snippets -->
